/* Write your CSS here */
.card-container {
  width: 270px;
  height: 70px;
  border: 1px solid #171f46;
  padding: 10px;
  flex-grow: 1;
  border-radius: 7px;
  list-style-type: none;
}

.name-star-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.name {
  margin-top: 0px;
  font-weight: 700;
  margin-bottom: 0px;
}

.star-button {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  outline: none;
}

.time {
  margin-top: 4px;
  color: #b5b7c4;
  font-weight: 600;
}
